header{
    background-color: crimson;
    color: rgb(255, 255, 255);
}

body{
    background-image: url(../img/Train.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


#distKm::after{
    content: "km";
}
#userAge::after{
    content: ".";
}

#price::after{
    content: "€";
}


@media (min-width: 768px) { 
    .my-form-label{
        margin-top: 30px;
        margin-bottom: 8px;

    }
}
@media (min-width: 992px) {
    .my-form-label{
        margin-top: 0;
        margin-bottom: .5rem;
    }
}